#root {
    width: 100%;
    min-height: 100vh;
}

.contenido h1 {
    font-size: 32px;
}

/* Otros Torneos */
.contenido h2 {
    font-size: 24px;
}
.tarjeta-encabezado h3 {
    font-size: 18px;
}
.tarjeta-torneo p {
    font-size: 15px;
}
.pagina {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    width: 220px;
    min-height: 100vh;
    background-color: #263746;
    color: white;
}

.sidebar-logo {
    margin: 0;
    padding: 24px 18px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-menu button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    padding: 14px 18px;
    cursor: pointer;
}

.sidebar-menu button:hover {
    background-color: #354b5e;
}

.contenido {
    flex: 1;
    padding: 45px 60px;
    background-color: white;
    text-align: left;
}
.contenedor-torneos{
    width: 100%;
    max-width: 850px;
    margin:0 auto;
}
/* =========================
   TARJETAS DE TORNEOS
   ========================= */

.lista-torneosActivos,
.lista-TorneosOtros {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 650px;
}

.tarjeta-torneo {
    border: 1px solid #d9dee5;
    border-radius: 7px;
    padding: 18px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.tarjeta-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarjeta-encabezado h3 {
    margin: 0;
}

.estado-torneo {
    background-color: #d8f3df;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
}
.estado-activo{
     background-color: #d8f3df;
    color: #287a3e;
}
.estado-inactivo{
    background-color: #d9dee5;
    color: #5f6368;
}
.tarjeta-torneo p {
    margin: 10px 0;
}

.tarjeta-torneo button {
    display: block;
    margin-left: auto;
    border: none;
    border-radius: 5px;
    padding: 9px 16px;
    background-color: #1677e8;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.tarjeta-torneo button:hover {
    background-color: #0f63c4;
}

.titulo-otrosTorneos {
    margin-top: 35px;
}

.sidebar-menu button{
    font-size: 15px;
}